@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #1f242d;
    color:#ffff ;
}

.header{
    position: fixed;
    top:0;
    left:0;
    margin-left: -100px;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity:0;
    animation:slideRight 1s ease forwards;

}

.navbar a{
    display: inline-block;
    height: 65px;
    font-size: 18px;
    color: white;
    text-decoration: none ;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity:0;
    animation:slideTop .5s ease forwards;
    animation-delay:calc(.2s * var(--i));
}



.navbar ul{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 50px 600px 0px 950px;
    list-style-type: none;
    height: 65px;
    background-color: #1f242d;
    color: white;
}

.navbar a:hover,
.navbar a.active{
    color: #0ef;
}

/* .circular--portrait { 
    position: relative; 
    width: 370px; 
    height: 20px; 
    overflow: hidden; 
    border-radius: 70%; 
} 
    
.circular--portrait img { 
    width: 50%; 
    height: 30%; 
} */

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity:0;
    animation:slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation:slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color:#0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation:slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    animation:slideLeft 1s ease forwards;
    animation-delay: .7s;
    text-align: justify;

}
.home-img img{
    max-width: 800px;
    height: 70vh;
    border-radius: 100px;
    margin-right: -20px;
    box-shadow: #0ef;
    opacity: 0;
    animation:zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s;
    
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef ;
    border-radius: 20px;
    font-size: 20px;
    color:#0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    transition: .5 ease;
    animation:slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color:#1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation:slideTop 1s ease forwards;
    animation-delay: .2s
}

.about{
    position: relative;
    width: 100%;
    margin-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.about-content h1{
    font-size: 60px;
    text-align: center;
    color: #0ef;
}

.about-content h3{
    text-align: center;
}
.about-content h2{
    text-align: center;
    font-size: 30px;
    color: #0ef;
}
.about-p{
    text-align: justify;
    font: 1em sans-serif;
    font-weight: 300;
}


.mh-skills h1{
    text-align: center;
    font-size: 60px;
    color: #0ef;

}

.mh-skills .mh-professional-skill{
    padding-right: 58%;
    color: #ffff;
    padding-left: 15%;
}

.mh-skills .mh-professional-skill h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Poppins',sans-serif;  
}

.mh-professional-skills{
    padding-left:60%;
    padding-right: 15%;
}

.mh-professional-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: -96%;
    font-family: 'Poppins','sans-serif';
}

.PS{
    float: right;
    padding-bottom: 50px;
    margin-right: 79px;
}

.mh-professional-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinzerl, cursive;
    color: white;
}

.mh-progress .progressbar-text{
    color: inherit !important;
    font-family: 'Poppins',sans-serif;
}

.progress.progress-line{
    height: 10px;
    margin-right: 60px;

}

.progress.progress-line .progressbar-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.mh-progress path:nth-child(1){
    stroke:rgba(0, 0, 0, 0.7);
}

.mh-progress path:nth-child(2){
    stroke:#0bceaf !important;
}

.candidatos{
    position: relative;
    margin-bottom: 15px;
    font-family: 'Poppins',sans-serif;
}

.candidatos .parcial{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.candidatos .parcial .info{
    position: relative;
    font-family: 'Poppins',sans-serif ;
}

.candidatos .parcial .info .nome{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Poppins',sans-serif;
}

.candidatos .parcial .info .percentage-num{
    position: absolute;
    top:0;
    right:0;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .progressBar{
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    transition: 3s all;
    animation-name: animationProgress;
    font-family: 'Poppins',sans-serif;
}

.percentual{
    animation-name: animationProgress;
}


/* Portfolio */

.portfolio-content h1{
    font-size: 60px;
    text-align: center;
    color: #0ef;
    padding-top: 95px;
}
.tab-titles {
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 40px;
}

.tab-links {
    align-items: center;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 4px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul{
    margin-left: 200px;
    text-align: justify;
}
.tab-contents ul li span{
    color: #0bceaf;
    font-size: 18px;  
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Card hover */
.containers{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
}

.containers .card{
    position: relative;
    cursor: pointer;
    margin-left: 100px;
}

.containers .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containers .card .face.face1{
    position: relative;
    background: #0a4859;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containers .card:hover .face.face1{
    background: #a18463;
    transform: translateY(0);
}

.containers .card .face.face1 .content{
    opacity: 0.4;
    transition: 0.5s;
}

.containers .card:hover .face.face1 .content{
    opacity: 1;
}

.containers .card .face.face1 .content img{
    max-width: 70px;
    justify-content: center;
    margin-left: 69px;
}
.containers .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containers .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.containers .card:hover .face.face2{
    transform: translateY(0);
}

.containers .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: #1f242d;
    text-align: justify;
}

.containers .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containers .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.col1{
    float: left;
    margin-left: 180px;
    animation:slideRight .7s ease forwards;
    animation-delay: 1s;
}
.col2{
    float: right;
    margin-right: 250px;
    animation:slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.contact-container{
    width: 100%;
    height:100vh;
    /* background: #0a4859; */
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background:#0c3544 ;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #0ef;
    font-size: 35px;;
    font-weight: 800;
    margin-bottom: 17px;
    text-align: center;
}

form input, form textarea{
    border: 0;
    border-radius: 15px;
    margin: 10px 0;
    padding: 15px;
    outline: none;
    background: #f6ecec;
    font-size: 16px;
}

form button{
    padding: 12px;
    background: #0ef;
    color: #0c3544;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    width: 150px;
    margin:20px auto 0 ;
    border-radius:40px ;
    box-shadow: 0 0 10px #0ef
}
/* Contact */

/* .contact-content h1{
    font-size: 60px;
    text-align: center;
    color: #0ef;
    padding-top: 360px;
}

.contact-right{
    flex-basis: 60%;
}

.btn.btn2
{
    background: #0ef;
    align-items: center;
    display: flex;
    margin-left: 44%;
    margin-bottom: 6%
}
contact-right form{
    width: 100%;
    margin-left: 100px;
}
form input,form textarea{
    position: relative;
    width: 45%;
    border: 0;
    outline: none;
    background:#fff;
    padding: 15px;
    /* padding-left: 15px; */
    /* margin:15px 0;
    margin-left: 450px;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
} 
form .btn2{
    align-items: center;  
    padding : 14px 60px;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
} */ 
 
#foot{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* ----------------------------------------- */

/* KEYFRAMES ANIMATION */

@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes animationProgress{
    from {
        width: 0;
    }
}